<div class="d-flex flex-column">
    <h2>Metahumans</h2>
    <p>There are many metahumans - those individuals with powers and abilities exceeding the natural limits of those of human beings - out there.  
        Here, you can find out about all known metahumans out there.
    </p>
    <h3>List of Known Metahumans</h3>
    <ul>
        {{#each metahumanData}}
            {{> metahuman-link}}
        {{/each}}
    </ul>
</div>