<div class="d-flex flex-wrap">
    <div class="col-12 flex-column align-items-center">
        <h2 class="">Meet the Heroes and Villains</h2>
    </div>
    {{#each teams}}
        {{> expanded-team}}
    {{/each}}
</div>