<div class="col-12 col-md-4 d-flex flex-column">
    <div>
        <a href="/teams/{{id}}" class="no_decoration">{{team_name}}</a> <div>({{user.username}})</div>
    </div>
    
    {{#if hasMembers}}
        <ul>
            {{#each metahumans}}
                {{> metahuman-link }}
            {{/each}}
        </ul>
    {{/if}}
</div>