<div class="col-10 col-md-5 d-flex flex-column">
    <a class="no_decoration" href="/metahumans/{{id}}"><h3>{{code_name}}</h3></a>
    <h4>Known Powers</h4>
    <ul>
        {{#each power_of_meta}}
            <li>{{titlize power_name}}</li>
        {{/each}}
    </ul>
</div>