
.siteDiv {
    height: 100px;
}

.color_red {
    background-color: red;
}

.color_blue {
    background-color: blue;
}

.color_green {
    background-color: green;
}

.color_yellow {
    background-color: yellow;
}

.color_orange {
    background-color: orange;
}

.color_violet {
    background-color: violet;
}